@using Web.Helpers;
@{
    DataHelper _dataHelper = Session["Global_DataHelper"] as DataHelper;
}

<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Mina Motor</title>
    @Styles.Render("~/Content/admin_css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body class="nav-md">
    <div class="container body">
        <div class="main_container">
            <div class="col-md-3 left_col">
                <div class="left_col scroll-view">
                    <div class="navbar nav_title" style="border: 0;">
                        <a href="/Home/Index" class="site_title"><span>Mina Motor</span></a>
                    </div>
                    <div class="clearfix"></div>
                    <!-- menu profile quick info -->
                    <div class="profile">
                        <div class="profile_info">
                            <span>Welcome,</span>
                            <h2>@_dataHelper.UserFullName</h2>
                        </div>
                    </div>
                    <!-- /menu profile quick info -->
                    <div class="clearfix"></div>
                    <!-- sidebar menu -->
                    <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
                        <div class="menu_section">
                            <ul class="nav side-menu" id="leftMenuList">
                                <li id="homePageListItem">
                                    <a href="/Admin/Index"><i class="fa fa-home"></i> Home</a>
                                </li>
                                <li>
                                    <a><i class="fa fa-edit"></i> Definitions <span class="fa fa-chevron-down"></span></a>
                                    <ul class="nav child_menu">
                                        <li id="userListItem"><a href="/Definitions/UserManagement">User</a></li>
                                        <li id="makeListItem"><a href="/Definitions/Make">Make</a></li>
                                        <li id="modelListItem"><a href="/Definitions/Model">Model</a></li>
                                        <li id="vehicleTrimListItem"><a href="/Definitions/VehicleTrim">Vehicle Trim</a></li>
                                        <li id="listListItem"><a href="/Definitions/List">List</a></li>
                                    </ul>
                                </li>
                                <li>
                                    <a><i class="fa fa-car"></i> Car Management <span class="fa fa-chevron-down"></span></a>
                                    <ul class="nav child_menu">
                                        <li id="carListItem"><a href="/CarManagement/Car">Car</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <!-- top navigation -->
            <div class="top_nav">
                <div class="nav_menu">
                    <nav>
                        <div class="nav toggle">
                            <a id="menu_toggle"><i class="fa fa-bars"></i></a>
                        </div>
                        <ul class="nav navbar-nav navbar-right">
                            <li><a href="/Admin/Logout"><i class="fa fa-sign-out pull-right"></i> Log Out</a></li>
                        </ul>
                    </nav>
                </div>
            </div>
            <!-- /top navigation -->
            <!-- page content -->
            <div class="right_col" role="main">
                <div class="row">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                       @RenderBody()
                    </div>
                </div>
            </div>
            <!-- /page content -->
            <!-- footer content -->
            <footer>
                <div class="pull-right">
                    MinaMotor.com - Created by Elie Ayoub
                </div>
                <div class="clearfix"></div>
            </footer>
            <!-- /footer content -->
        </div>
    </div>
    
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/admin_jqueryval")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/theme")
    @Scripts.Render("~/bundles/datatables")
    @Scripts.Render("~/bundles/admin")
    @RenderSection("scripts", required: false)
</body>
</html>
